.InfoWidget {
  position: absolute;
  left: 25%;
  width: calc(75% - 20px);
  top: 32px;
  bottom: 0;
  padding-left: 20px;
  background: #bdbdbd;
  overflow-y: scroll; 
}

.CodeWidget {
  width: 90%;
  height: 200px;
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: rgb(0, 0, 0);
  background: #d6d6d6 none repeat scroll 0% 0%;
}
