.TileList {
  position: absolute;
  left: 0;
  width: 25%;
  top: 0;
  height: 100%;
  background: #21252b;
}

.TileListTitle {
  font: bold 10pt sans;
  color: white;
  padding: 5px;
  line-height: 22px;
  background: #1b1d23;
  color: #9da5b4;
}
