.TileListEntry {
  color: #9da5b4;
  font-size: 10pt;
  padding: 5px;
  margin: 2px;
  border: 1px solid transparent;
  cursor: default;
}

.TileListEntry ul {
  font-size: 8pt;
  font-style: italic;
  margin: 0;
  color: #727782;
}

.TileListEntry:hover {
  border: 1px solid #9da5b4;
}

.ActiveTileListEntry {
  color: white;
  background-color: #31363f;
}
