.TitleBar {
  position: absolute;
  left: 25%;
  top: 0;
  right: 0;
  height: 32px;
  background-color: #21252b;
  color: white;
  font: bold 10pt sans;
  text-align: center;
  line-height: 32px;
  z-index: 1;
}

.ViewerSelector {
  float: right;
  border-radius: 5px;
  height: 22px;
  margin: 2px;
  line-height: 22px;
  padding: 2px 10px;
  background-color: #528bff;
  border: 1px solid #528bff;
  font-weight: normal;
  cursor: default;
}

.ViewerSelector:hover {
  background-color: #CCCCFF;
}

.ActiveViewerSelector {
  background-color: #BBBBFF;
}
