.TitleBar {
  position: absolute;
  left: 25%;
  top: 0;
  right: 0;
  height: 32px;
  background-color: #1b1d23;
  color: #9da5b4;
  font: bold 10pt;
  text-align: center;
  line-height: 32px;
  z-index: 1;
}

.ViewerSelector:first-child {
  border-radius: 0px 5px 5px 0px;
  margin-right: 3px;
}

.ViewerSelector:last-child {
  border-radius: 5px 0px 0px 5px;
  margin-left: 3px;
}

.ViewerSelector {
  float: right;
  height: 22px;
  margin: 3px 0px 3px 1px;
  line-height: 22px;
  padding: 2px 10px;
  background-color: #31363f;
  font-weight: normal;
  cursor: default;
  color: #9da5b4;
}

.ViewerSelector:hover {
  background-color: #414753;
}

.ActiveViewerSelector, .ActiveViewerSelector:hover {
  background-color: #528bff;
  color: white;
}
